# Pycharm files
*.xml

# dir:
local_data/


# plot:
plot

# netcdf, etc...
dataset/list_classes__5Regimes.csv
*.nc

.DS_Store
*.temp
/.idea
/.hydra
/src/*.mat
*.mat
.hydra
/cloud.log
/doc/derrien2005.pdf
/doc/Meteorological Applications - 2011 - Hocking - Cloud detection in Meteosat Second Generation imagery at the Met Office.pdf
/doc/NWC-CDOP3-GEO-MF-CMS-SCI-UM-Cloud_v1.0.pdf
/doc/Screen Shot 2022-04-07 at 11.12.20.jpg
/doc/publication/_DelSyncFiles/
/doc/publication/.com.greenworldsoft.syncfolderspro
/doc/437.pdf
/doc/NWC-CDOP3-GEO-AEMET-SW-DOF_v1.1.pdf
/doc/ref/437.pdf
/doc/ref/derrien2005.pdf
/doc/ref/Meteorological Applications - 2011 - Hocking - Cloud detection in Meteosat Second Generation imagery at the Met Office.pdf
/doc/ref/NWC-CDOP3-GEO-MF-CMS-SCI-UM-Cloud_v1.0.pdf
/doc/ref/Screen Shot 2022-04-07 at 11.12.20.jpg
/doc/ref/NWC-CDOP3-GEO-AEMET-SW-DOF_v1.1.pdf
